# This file is structured in a specific way please include all conda installable
# libraries before the special comment marked `# For conda, pip installable:`
numpy
scipy
scikit-learn
matplotlib
scikit-image
sympy
statsmodels
seaborn
pandas
pytest
sphinx
coverage
pillow
# For conda, pip installable
sphinx-gallery
